<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meethi Supari | About</title>
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header" style="border-bottom: 1px solid gray; padding-bottom: 20px;">
        <img src="poetry page.png" alt="Meethi Supari">
        <header>
            <h1>मीठी सुपारी </h1>
            <h1 id="h1">Meethi Supari</h1>
            <nav>
                <ul>
                    <li><a href="diary" id="a1">Diary</a></li>
                    <li><a href="poems" id="a2">Poetry</a></li>
                    <li><a href="About" id="a3">About</a></li>
                </ul>
            </nav>
            <div id="about"> <br>
                <h2>About us</h2> <br>
                <strong>
                    <p>
                        <p>Welcome to Meethi Supari, your sanctuary for soulful poetry and heartfelt daily reflections.</p>
                        <p>In addition to poetry, we offer a glimpse into our daily lives through our logs. <br>From the mundane to the extraordinary, we share our thoughts, observations, and reflections on life's journey. <br>Join us as we navigate the twists and turns of existence, finding meaning in the ordinary moments and inspiration in the extraordinary.</p>
                    </p>
                </strong>
            </div>
        </header>
    </div> <br><br>
    <div id="signup">
        Want to publish your writtings?<a href="signup">Sign Up</a>
    </div>


    <!-- <main>
        <div id="poetry">
            <table>
                <tr>
                    <td>
                        <img src="Ashish.jpg" alt="Ashish Tetarwal">
                    </td>
                    <td>
                        <h2> Ashish Tetarwal</h2>
                    </td>
            </table>
            <div class="partone">
                <section id="pOne">
                    <h3>Main leke ghoom raha hoon</h3>
                </section>
            </div>
        </div> -->

    </main>   
    
    <footer>
        <h4>By <a href="https://a-tetarwal.github.io/Portfolio---Ashish-Tetarwal/">Ashish Tetarwal</a></h4>
    </footer> <br>
</body>
</html>