<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meethi Supari | Sign Up</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>

    <div id="container">
        <h2>Sign Up</h2>
        <div id="form-container">
            <form id="signup-form" action="/signup" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <input type="submit" value="Sign Up" id="submit">
            </form>
            <p>Or</p>
            <div id="or">
                <a href="https://accounts.google.com/signup" target="_blank" id="gmail"><img src="google-color-icon.svg" alt="">Continue with google</a><br>
                <p>Already have an account? <a href="login">login</a></p>
            </div>
        </div>
        <footer>
            <h5><a href="/">&copy; Meethi Supari 2024</a></h5>
            <h4>by <a href="https://a-tetarwal.github.io/Portfolio---Ashish-Tetarwal/">Ashish Tetarwal</a></h4>
        </footer>
    </div>

</body>
</html>