<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meethi Supari | Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <img src="poetry page.png" alt="Meethi Supari">
        <h1>Meethi Supari</h1>
    </header>
    
    <head>
        <nav>
            <ul>
                <li><a href="diary.html">Diary</a></li> &nbsp;
                <li><a href="poems.html">Poetry</a></li> &nbsp;
                <li><a href="About.html">About</a></li>
            </ul>
        </nav>
    </head>

    <main>
        <div id="poetry">
            <table>
                <tr>
                    <td>
                        <img src="Ashish.jpg" alt="Ashish Tetarwal">
                    </td>
                    <td>
                        <h2> Ashish Tetarwal</h2>
                    </td>
            </table>
            <div class="partone">
                <section id="pOne">
                    <h3>Main leke ghoom raha hoon</h3>
                </section>
            </div>
        </div>
        <div id="signup">
            want to publish your writtings? <a href="signup.html">Sign Up</a>
        </div>
    </main>   
    
    <footer>
            <h4>By <a href="https://a-tetarwal.github.io/Portfolio/">Ashish Tetarwal</a></h4>
    </footer>
</body>
</html>